.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 20px;


}
table td{
  /* border: 1px solid black; */
  height: 100px;
  width: 100px;
  font-size: 65px;
  background-color: #78bec5;
  border-radius: 10px;
}
.plear1:hover{
  background-color: #ecaf4f;
}
.plear2:hover{
  background-color: #dc685a;
}
button{
  align-items: center;
  width: 100%;
  border: 1px solid;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  background-color: #78bec5;
}
.restart{
  display: flex;
  height: 50px;
}
.winner{
  height: 50px;
}
.plears{
  display: flex;
  height: 50px;
  box-sizing: border-box;
  width: 100;
  font-weight: 600;
  letter-spacing: 2px;
}
.p1{
  background-color: #ecaf4f;
  height: 50px;
  width: 50%;
  box-sizing: border-box;
}
.pt1{
  background-color: #ecaf4f;
  height: 50px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid black;
}
.p2{
  background-color: #dc685a;
  height: 50px;
  width: 50%;
  box-sizing: border-box;
}
.pt2{
  background-color: #dc685a;
  height: 50px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid black;
}
.winp2{
  width: 100%;
  height: 500px;
  background-color: #dc685a;
}
.winp1{
  width: 100%;
  height: 500px;
  background-color: #ecaf4f;
}
.draw{
  width: 100%;
  height: 500px;
  background-color: #f40800;
}
.gamestatus{
  height: 0px;
}
.trurnicon{
  font-size: 50px;
  font-weight: 600;
}